body{
    background-color: cadetblue;
    margin-left: 0%;
    margin-right: 0%;
}

.mydiv{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}



.dot{
    position: relative;
    top: 0px;
    height: 25p;
    width: 25px;
    background-color:white;
    border-radius: 50%;
    opacity: 1;
    display: inline-block;
    animation-name: snow1;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    
}

@keyframes snow1{
    from{top: 0px;}
    to{top: 650px;}
    
}
